<!--The content below is only a placeholder and can be replaced.-->
<div fxFlexFill fxLayout="row">
  <div fxFlex="17" fxFlexOffset="8" fxFlexAlign="center">
    <div *ngIf="appState.menuEnabled">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
        <span>Действия</span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="scrapeClick()">
          <mat-icon>file_download</mat-icon>
          <span>Выгрузка</span>
        </button>
        <button mat-menu-item (click)="parseClick()">
          <mat-icon>fast_forward</mat-icon>
          <span>Обработка</span>
        </button>
        <button mat-menu-item (click)="archiveClick()">
          <mat-icon>attach_file</mat-icon>
          <span>Архивирование</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <div fxFlex fxFlexOffset="5">
    <h1>
      {{appState.title}}
    </h1>
  </div>

</div>


<div class="bounds">

  <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

    <div fxFlex>
    </div>
    <div fxFlex="84">
      <router-outlet></router-outlet>
    </div>
    <div fxFlex>
    </div>

  </div>

</div>
