<form class="formWrapper" #diaryInputForm="ngForm">
  <table class="fullWidth" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="fullWidth">
          <input id="diaryLoginInput" name="diaryLoginInput" [(ngModel)]="inputData.diaryLogin" #diaryLogin="ngModel" matInput placeholder="Имя пользователя"
            required [errorStateMatcher]="instantErrorStateMatcher">
          <mat-error *ngIf="diaryLogin.hasError('required') && (diaryLogin.dirty || diaryLogin.touched || diaryInputForm.submitted)">
            Необходимо заполнить имя пользователя
          </mat-error>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="fullWidth">
          <input id="diaryPasswordInput" name="diaryPasswordInput" [(ngModel)]="inputData.diaryPassword" #diaryPasswordControl="ngModel"
            matInput placeholder="Password" type="password" required [errorStateMatcher]="instantErrorStateMatcher">
          <mat-error *ngIf="diaryPasswordControl.hasError('required') && (diaryPasswordControl.dirty || diaryPasswordControl.touched || diaryInputForm.submitted)">
            Необходимо заполнить пароль
          </mat-error>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <mat-form-field>
    <span matPrefix>http://</span>
    <input matInput [(ngModel)]="inputData.diaryAddress" #diaryNameFormControl="ngModel" name="diaryNameInput" id="diaryNameInput"
      placeholder="Адрес дневника" [errorStateMatcher]="instantErrorStateMatcher" required pattern="^[\w-]+$">
    <span matSuffix>.diary.ru</span>
    <mat-hint>http://
      <strong>адрес_дневника</strong>.diary.ru</mat-hint>
    <mat-error *ngIf="diaryNameFormControl.hasError('pattern') && !diaryNameFormControl.hasError('required')">
      Введённый адрес содержит некорректные символы
    </mat-error>
    <mat-error *ngIf="diaryNameFormControl.hasError('required')">
      Необходимо заполнить адрес дневника
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Рабочая папка" readonly [(ngModel)]="inputData.workingDir" #workingDirFormControl="ngModel"
      name="workingDirInput" id="workingDirInput" required>
    <button mat-button matSuffix mat-icon-button type="button" (click)="onWorkingDirectoryButtonClick(workingDirFormControl)">
      <mat-icon>folder_open</mat-icon>
    </button>
    <mat-error *ngIf="workingDirFormControl.hasError('required')">
      Необходимо указать рабочую папку
    </mat-error>
  </mat-form-field>

  <button mat-button color="primary" (click)="onClickOk(diaryNameFormControl)">Ok</button>

</form>
<code>workingdir: {{inputData.workingDir}}</code>