<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Contacts App</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link href="node_modules/angularjs-datepicker/dist/angular-datepicker.min.css" rel="stylesheet" type="text/css" />

    <script>
        if (typeof module === 'object') {
            window.module = module;
            module = undefined;
        }
    </script>

    <script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="node_modules/popper.js/dist/umd/popper.js"></script>
    <script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="node_modules/angularjs-datepicker/dist/angular-datepicker.min.js"></script>
    <script type="text/javascript" src="app.js"></script>

    <script>
        if (window.module) module = window.module;
    </script>


</head>

<body>
    <div ng-controller="ScrapeCtrl as ctrl">
        <div class="container-fluid">
            <div class="row">
                <div class="col"></div>
                <div class="col-auto">
                    <h1>{{ctrl.Title}}</h1>
                </div>
                <div class="col"></div>
            </div>

            <div class="row">
                <div class="col"></div>
                <div class="col-8">
                    <hr/>
                </div>
                <div class="col"></div>
            </div>

            <form name="mainForm" id="mainForm" ng-show="inProgress == 'notstarted'">

                <div class="row">
                    <div class="col">

                    </div>
                    <div class="col-8">
                        <div class="alert alert-danger" ng-show="mainForm.diaryNameEdit.$error.required && mainForm.diaryNameEdit.$touched">
                            Адрес дневника должен быть заполнен
                        </div>
                        <div class="alert alert-danger" ng-show="mainForm.diaryNameEdit.$error.pattern && mainForm.diaryNameEdit.$touched">
                            Адрес дневника содержит недопустимые символы
                        </div>
                        <div class="alert alert-danger" ng-show="mainForm.workingDirEdit.$error.required && mainForm.workingDirEdit.$touched">
                            Необходимо указать рабочую папку
                        </div>
                        <div class="alert alert-danger" ng-show="(mainForm.diaryLogin.$error.required && mainForm.diaryLogin.$touched) || (mainForm.diaryPassword.$error.required && mainForm.diaryPassword.$touched)">
                            Необходимо указать логин и пароль для доступа к дневнику
                        </div>
                    </div>
                    <div class="col">

                    </div>
                </div>
                <div class="row">
                    <div class="col">

                    </div>
                    <div class="col-8">
                        <div class="input-group">
                            <span class="input-group-addon">Логин: </span>
                            <input type="text" class="form-control" required name="loginEdit" ng-disabled="!inputEnabled" aria-label="Diary address"
                                style="text-align:right;" ng-model="diaryLogin" />
                        </div>
                    </div>
                    <div class="col">

                    </div>
                </div>
                <div class="row">
                    <div class="col">

                    </div>
                    <div class="col-8">
                        <div class="input-group">
                            <span class="input-group-addon">Пароль: </span>
                            <input type="password" class="form-control" required name="diaryPasswordEdit" ng-disabled="!inputEnabled" aria-label="Diary password"
                                style="text-align:right;" ng-model="diaryPassword" />
                        </div>
                    </div>
                    <div class="col">

                    </div>
                </div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col-8">
                        <hr/>
                    </div>
                    <div class="col"></div>
                </div>

                <div class="row">
                    <div class="col">

                    </div>
                    <div class="col-8">
                        <div class="input-group">
                            <span class="input-group-addon">Адрес дневника:</span>
                            <span class="input-group-addon">http://</span>
                            <input type="text" class="form-control" required name="diaryNameEdit" ng-disabled="!inputEnabled" aria-label="Diary address"
                                style="text-align:right;" ng-model="diaryName" ng-pattern="diaryNamePattern" />
                            <span class="input-group-addon">.diary.ru</span>
                        </div>
                    </div>
                    <div class="col">

                    </div>
                </div>
                <div class="row">
                    <div class="col">

                    </div>
                    <div class="col-8">
                        <div class="input-group">
                            <span class="input-group-addon">Рабочая папка:</span>
                            <input type="text" class="form-control" name="workingDirEdit" aria-label="Working directory" disabled ng-model="workingDir"
                                required/>
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" ng-disabled="!inputEnabled" type="button" ng-click="btnSelectDirectoryClick()">Выбрать</button>
                            </span>
                        </div>
                    </div>
                    <div class="col">

                    </div>
                </div>

                <div class="row">
                        <div class="col">
    
                        </div>
                        <div class="col-8">
                            <div class="input-group">
                                <span class="input-group-addon">Задержка между запросами:</span>
                                <input type="number" class="form-control" required name="requestDelayEdit" ng-disabled="!inputEnabled" aria-label="Request delay"
                                    style="text-align:right;" ng-model="diaryRequestDelay" >
                                <span class="input-group-addon">мс</span>
                            </div>
                        </div>
                        <div class="col">
    
                        </div>
                    </div>

                <div class="row">
                    <div class="col">

                    </div>
                    <div class="col-8">
                        <datepicker date-format="yyyy-MM-dd" selector="form-control">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="checkbox" ng-model="dateStartEnabled" ng-disabled="!inputEnabled" aria-label="Checkbock marking if scrape start date limiting is enabled">
                                </span>
                                <span class="input-group-addon">Дата начала:</span>
                                <input ng-model="dateStart" type="text" class="form-control" ng-disabled="!(dateStartEnabled && inputEnabled)" style="text-align:right;"
                                />
                                <!-- <span class="input-group-addon">
                            <i>.</i>
                        </span> -->
                            </div>
                        </datepicker>
                    </div>
                    <div class="col">

                    </div>
                </div>
                <div class="row">
                    <div class="col">

                    </div>
                    <div class="col-8">
                        <datepicker date-format="yyyy-MM-dd" selector="form-control">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="checkbox" ng-model="dateEndEnabled" ng-disabled="!inputEnabled" aria-label="Checkbock marking if scrape end date limiting is enabled">
                                </span>
                                <span class="input-group-addon">Дата окончания:</span>
                                <input ng-model="dateEnd" type="text" ng-disabled="!(dateEndEnabled && inputEnabled)" class="form-control" style="text-align:right;"
                                />
                                <!-- <span class="input-group-addon">
                                <i>.</i>
                            </span> -->
                            </div>
                        </datepicker>
                    </div>
                    <div class="col">

                    </div>
                </div>

                <div class="row">
                    <div class="col">

                    </div>
                    <div class="col-8">
                        <div class="input-group">
                            <span class="input-group-addon">Перезаписывать:</span>
                            <span class="input-group-addon">
                                <input type="checkbox" ng-model="overwrite" ng-disabled="!inputEnabled" aria-label="Checkbox for overwrite parameter">
                            </span>
                        </div>
                    </div>
                    <div class="col">

                    </div>
                </div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col-8">
                        <hr/>
                    </div>
                    <div class="col"></div>
                </div>
                <div class="row">
                    <div class="col">

                    </div>
                    <div class="col-1">
                        <button type="button" ng-disabled="!inputEnabled" class="btn btn-primary" ng-click="btnStartClick()">Начать</button>
                    </div>
                    <div class="col">

                    </div>
                </div>

            </form>
        </div>
        <div class="container-fluid" id="progressReportDiv" ng-show="inProgress !== 'notstarted'">
            <div class="row">
                <div class="col">

                </div>
                <div class="col-8">
                    <div class="alert alert-danger" ng-show="currentTask.error">
                        {{currentTask.error}}
                    </div>
                </div>
                <div class="col">

                </div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-8">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" id="scrapeProgress" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="col"></div>
            </div>

            <div class="row">
                <div class="col"></div>
                <div class="col-8">
                    <hr/>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-4 text-right">
                    Идентификатор задания:
                </div>
                <div class="col-4">
                    {{currentTask.guidString}}
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-4 text-right">
                    Страниц скачано:
                </div>
                <div class="col-4">
                    {{currentTask.progress.pagesDownloaded}}
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                    <div class="col"></div>
                    <div class="col-4 text-right">
                        Изображений скачано:
                    </div>
                    <div class="col-4">
                        {{currentTask.progress.imagesDownloaded}}
                    </div>
                    <div class="col"></div>
                </div>
                <div class="row">
                        <div class="col"></div>
                        <div class="col-4 text-right">
                            Байт скачано:
                        </div>
                        <div class="col-4">
                            {{currentTask.progress.bytesDownloaded}}
                        </div>
                        <div class="col"></div>
                    </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-8">
                    <hr/>
                </div>
                <div class="col"></div>
            </div>

            <div class="row">
                <div class="col">

                </div>
                <div class="col-1">
                    <button type="button" class="btn btn-primary" ng-click="btnCancelClick()" ng-show="inProgress == 'started'" ng-disabled="!btnCancelEnabled">Отмена</button>
                    <button type="button" class="btn btn-primary" ng-click="btnRestartClick()" ng-show="inProgress == 'finished'">Заново</button>
                </div>
                <div class="col">

                </div>
            </div>

        </div>
    </div>
</body>


</html>